<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YOLOv8 Object Detection - Webcam</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>YOLOv8 Object Detection - Webcam</h1>
    <img id="video" width="640" height="480">
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('new_frame', function(data) {
            document.getElementById('video').src = 'data:image/jpeg;base64,' + data.image;
        });
    </script>
</body>
</html>