{% extends "layouts/base_admin.html" %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}
<style>
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card-header {
        width: 100%;
        text-align: left;
    }
    .camera-preview {
        display: block;
        margin: 10px;
    }
    .detect-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="card">
                            <div class="card-header">
                                <h5>Live Kamera (*Real Time)</h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive">
                                    <video id="videoElement" class="camera-preview" width="800" height="500" autoplay></video>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5>Live Detect (*Real Time)</h5>
                            </div>
                            <div class="card-block px-0 py-3">
                                <div class="table-responsive detect-container">
                                    <img id="video2" class="camera-preview" width="400" height="275">
                                    <img id="video3" class="camera-preview" width="400" height="275">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8 col-md-6">
                                <div class="card Recent-Users">
                                    <div class="card-header">
                                        <h5>Riwayat Emosi Anak</h5>
                                    </div>
                                    <div class="card-block px-0 py-3">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <tbody>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="activity-user"></td>
                                                    <td><h6 class="mb-1">Emosi Tantrum</h6><p class="m-0">Lorem Ipsum is simply…</p></td>
                                                    <td><h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>11 MAY 12:56</h6></td>
                                                    <td><a href="#!" class="label theme-bg text-white f-12">Lihat</a></td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="activity-user"></td>
                                                    <td><h6 class="mb-1">Emosi Tantrum</h6><p class="m-0">Lorem Ipsum is simply text of…</p></td>
                                                    <td><h6 class="text-muted"><i class="fas fa-circle text-c-red f-10 m-r-15"></i>11 MAY 10:35</h6></td>
                                                    <td><a href="#!" class="label theme-bg text-white f-12">Lihat</a></td>
                                                </tr>
                                                <tr class="unread">
                                                    <td><img class="rounded-circle" style="width:40px;" src="{{ config.ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="activity-user"></td>
                                                    <td><h6 class="mb-1">Emosi Tantrum</h6><p class="m-0">Lorem Ipsum is simply…</p></td>
                                                    <td><h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>9 MAY 17:38</h6></td>
                                                    <td><a href="#!" class="label theme-bg text-white f-12">Lihat</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script>
    const videoElement = document.getElementById('videoElement');
    const canvas = document.createElement('canvas');
    const context = canvas.getContext('2d');

    const socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                videoElement.srcObject = stream;
            })
            .catch(function(err) {
                console.log("Something went wrong: " + err);
            });
    } else {
        alert('getUserMedia not supported on your browser!');
    }

    videoElement.addEventListener('play', function() {
        const draw = () => {
            context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);
            const imageData = canvas.toDataURL('image/jpeg');

            // Emit the raw frame to the socket for user page
            socket.emit('raw_frame', { raw_image: imageData.split(',')[1] });

            fetch('/process_image', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ image: imageData })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('video2').src = data.detected_image;
                // Emit the detected image to the socket for user page
                socket.emit('detected_image', { detected_image: data.detected_image.split(',')[1] });
            })
            .catch(error => console.error('Error:', error));

            setTimeout(draw, 100); // Adjust the interval as needed
        };

        canvas.width = videoElement.videoWidth;
        canvas.height = videoElement.videoHeight;
        draw();
    });

    socket.on('new_frame', function(data) {
        console.log('Received new frame data:', data);
        if (data.detected_image) {
            // Prefix the base64 string with the appropriate data URL prefix
            const imgSrc = 'data:image/jpeg;base64,' + data.detected_image;
            document.getElementById('video3').src = imgSrc;
        } else {
            console.log('No detected_image in data');
        }
    });
</script>
{% endblock javascripts %}
